/* my font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
     font-family: "Open Sans", sans-serif;
}

.hero .col img {
     width: 500px;
}


.about .col img {
     width: 50%;
}

section {
     padding-top: 100px;
     padding-bottom: 50px;
}


.kategori {
     background-color: rgba(0, 0, 0, 0.3);
}

footer {
     margin-top: 100px;
     padding-bottom: 20px;
}

.copyright {
     margin-top: 30px;
}
 
@media screen and (max-width:510px) {
     .hero .col img {
          width: 100%;
     }
     .about .col img {
     width: 75%;
     }
}
